body {
  margin: 0;
  font-family: 'Varela', Fallback, sans-serif;
}
.App {
  text-align: center;
}

@font-face{
  font-family: "Varela";
  src:local(Varela),url(./assets/fonts/VarelaRound-Regular.ttf) format("opentype")
}